{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>

    <p>
        Not this time, access forbidden, <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}